<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请求</title>
    <link rel="stylesheet" href="static/layui/css/layui.css">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
    <script src="static/js/jquery-2.2.4.min.js"></script>
    <script src="static/layui/layui.js"></script>
    <script>
        $(function () {
            var vm = new Vue({
                el:'#app',
                data:{
                    body:[],
                    body2:[],
                    body3:[]
                },
                methods:{
                    gets:function (){
                        //发送get请求
                        this.$http.get('bsPress/selectAll1').then(function (res){
                            // document.write(res.body);
                            this.body = res.body;
                            console.log(res.body);
                        },function () {
                            console.log('请求失败');
                        });
                    },
                    post:function () {
                        this.$http.post('bsPress/selectAll1',{},{}).then(function (res){
                            // document.write(res.body);
                            this.body2 = res.body;
                            console.log(res.body);
                        },function () {
                            console.log('请求失败');
                        });
                    },
                    jsonp:function () {
                        this.$http.jsonp('bsPress/selectAll1').then(function (res){
                            this.body2 = res.body;
                            console.log(res.body);
                        },function () {
                            console.log('请求失败');
                        });
                    }
                },

            });
        });
    </script>
</head>
<body>
    <div id="app">
        <input @click="gets" class="layui-btn layui-btn-normal" type="button" value="get">
        <input @click="post" class="layui-btn layui-btn-normal" type="button" value="post">
        <input @click="jsonp" class="layui-btn layui-btn-normal" type="button" value="jsonp">
        <p v-for="b in body">{{b.bsPressname}}</p>
        <p v-for="b in body2">{{b.bsPressname}}</p>
        <p v-for="b in body3">{{b.bsPressname}}</p>
    </div>
</body>
</html>